{
	# Frontend — React app
	handle / {
		reverse_proxy frontend:3000
	}

	# GraphQL API Gateway
	handle /graphql* {
		reverse_proxy gateway:4000
	}

	# MinIO console admin
	handle /minio-console* {
		uri strip_prefix /minio-console
		reverse_proxy minio:9001
	}
}

